@import "base/normalize";
@import "base/reset";
@import "base/variables";
@import "base/grid";
@import "base/scaffolding";
@import "base/headings";
@import "base/links";


@import "components/navbar";
@import "components/home";
@import "components/posts";
@import "components/post_tag";
@import "components/footer";
@import "components/helpers";
@import "components/table";
@import "components/tags";
@import "components/search";

@import "components/post";
@import "components/comments";
@import "components/highlight";
@import "components/footnotes";
@import "components/suggested";
@import "components/projects";
@import "components/terms";
@import "components/pagination";

@import "base/dark";
@import "debug";

//FIXME This should not be here

.internal-link {
	background-color: pink !important;
}

.popover {
	z-index: 999;
	position: absolute;
	width: 20em;
	display: none;
	background-color: var(--light);
	padding: 1em;
	border: 1px solid var(--outlinegray);
	border-radius: 5px;
	transform: translate(-50%, 40%);
	pointer-events: none;
	transition: opacity 0.2s ease, transform 0.2s ease;
	user-select: none;
	overflow-wrap: anywhere;
	box-shadow: 6px 6px 36px 0px rgba(0,0,0,0.25);
  
	@media all and (max-width: 600px) {
	  display: none;
	}
  
	&.visible {
	  opacity: 1;
	  visibility: visible;
	  transform: translate(-50%, 20%);
	  display: inline-block;
	  animation: dropin 0.2s ease;
	}
  
	& > h3 {
	  font-size: 1rem;
	  margin: 0.25em 0;
	}
  
	& > .meta {
	  margin-top: 0.25em;
	  opacity: 0.5;
	  font-family: "JetBrains Mono", monospace;
	  font-size: 0.8rem;
	}
  
	& > p {
	  margin: 0;
	  font-weight: 400;
	  user-select: none;
	}
  }
  

.capitalize {
	text-transform: capitalize;
}

///

mark {
    background: #fef3ac;
    color: #262626;
    padding: 2px 4px;
    border-radius: 3px;
}

// Fixme - this is horribly ugly
warning:before, caution:before, tip:before, note:before, important:before {
	font-weight: bolder;
	font-family: sans-serif;
}

.warning {
	border-top: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	padding: .5em .5em;
    margin: .2em
}
.caution {
	border-top: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	padding: .5em .5em;
    margin: .2em
}
.tip {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: .5em .5em;
    margin: .2em
}
.note {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: .5em .5em;
    margin: .2em
}
.important {
	border-top: 1px solid #ff0000;
	border-bottom: 1px solid #ff0000;
	padding: .5em .5em;
    margin: .2em
}
.example {
	border-top: 1px solid #62ff00;
	border-bottom: 1px solid #62ff00;
	padding: .5em .5em;
    margin: .2em
}
.pinned {
	// border-top: 1px solid #62ff00;
	// border-bottom: 1px solid #62ff00;
    color: #ff0000;
    background-color: #62ff00;
	padding: .5em .5em;
    margin: .2em
}