{:module-uris {:main [], :code-editor ["./js/code-editor.js"], :age-encryption ["./js/age-encryption.js"], :excalidraw ["./js/excalidraw.js"]}, :module-infos {:main nil, :code-editor #{:main}, :age-encryption #{:main}, :excalidraw #{:main}}}