<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
<body class="with-custom-webkit-scrollbars with-custom-css-scrollbars" data-dm-shortcut-enabled="true" data-sidebar-shortcut-enabled="true" data-set-preferred-mode-onload="true">
  <!-- Modals go here -->
  <!-- Reference: https://www.gethalfmoon.com/docs/modal -->

  <!-- Page wrapper start -->
  <div class="page-wrapper with-navbar with-sidebar" data-sidebar-hidden="hidden">

    <!-- Sticky alerts (toasts), empty container -->
    <!-- Reference: https://www.gethalfmoon.com/docs/sticky-alerts-toasts -->
    <div class="sticky-alerts"></div>

      {{partial "navbar.html" .}}
      {{partial "sidebar.html" .}}

    <!-- Content wrapper start -->
    <div class="content-wrapper">
            {{ block "main" . }}{{ end }}
    </div>
    <!-- Content wrapper end -->

  </div>
  <!-- Page wrapper end -->
  {{partial "popover.html" .}}
  <!-- Halfmoon JS -->
  <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</body>
</html>