{{ define "main" }}
<div class="container{{if .Draft }} draft{{ end }} ">
    <article>
        <header class="article-header">
            <div class="thumb">
                <div>
                    <h1>{{ .Title }}</h1>
                </div>
            </div>
            <div class="post-meta">                
                <div class="tags">
                    {{ range (.GetTerms "categories") }} 
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    {{ end }} | 
                    {{ range (.GetTerms "tags") }} 
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    {{ end }}
                </div>
            </div>
        </header>
    </article>


    <div class="article-post">
        <div class="side side-right">
            <p>Last edited: <time>{{ .Date.Format "January 02, 2006" }}</time>
            <br/>{{ .ReadingTime }} {{ cond (eq .ReadingTime 1) "minute" "minutes" }} reading time</p>
            {{ partial "toc" . }}
            {{ partial "backlinks" . }}
        </div>
        {{partial "textprocessing.html" . }}
        {{partial "popover.html" .}}
    </div>
</div>

{{ if or (not (isset .Params "comments")) (eq .Params.comments "true")}} 
<div class="container">
    {{ partial "comments/include" . }}
</div>
{{ end }}
</main>

<!-- FIXME correct location? -->

{{ end }}
