{{ define "main" }}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        🌱
        <!-- {{partial "contact.html" .}} -->
      </div>
      <div class="col-sm">
        <article class="card">
            <div class="tags">
                {{ range .Site.Taxonomies.tags.ByCount }}
                <div class="meta">
                    <h2><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h2>
                    <p><b>{{ .Count }}</b> notes with this tag {{if gt .Count 2}}(showing first 2 results){{end}}</p>
                </div>
                {{ with ($.Site.GetPage (printf "/tags/%s" .Page.Title)) }}
                {{partial "page-list.html" (first 2 .Pages.ByLastmod.Reverse)}}
                {{ end }}
                {{ end }}
            </div>
        </article>         
      </div>

      <div class="col-sm"> </div>
    </div>
  </div>
 

{{ end }}
