<div id="header-post">
  <a id="menu-icon" href="#">{{- partial "inline-svg" "bars" -}}</a>
  <a id="menu-icon-tablet" href="#">{{- partial "inline-svg" "bars" -}}</a>
  <a id="top-icon-tablet" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display:none;">{{- partial "inline-svg" "chevron-top" -}}</a>
  <span id="menu">
    <span id="nav">
      <ul>
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </span>
    <br/>
    <span id="actions">
      <ul>
        {{ if .Prev }}
        <li>
          <a class="icon" href=" {{ .Prev.Permalink }}">
            <i class="" aria-hidden="true" onmouseover="$('#i-prev').toggle();" onmouseout="$('#i-prev').toggle();">{{- partial "inline-svg" "chevron-left" -}}</i>
          </a>
        </li>
        {{ end }}
        {{ if .Next }}
        <li>
          <a class="icon" href="{{ .Next.Permalink }}">
            <i class="" aria-hidden="true" onmouseover="$('#i-next').toggle();" onmouseout="$('#i-next').toggle();">{{- partial "inline-svg" "chevron-right" -}}</i>
          </a>
        </li>
        {{ end }}
        <li>
          <a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');">
            <i class="" aria-hidden="true" onmouseover="$('#i-top').toggle();" onmouseout="$('#i-top').toggle();">{{- partial "inline-svg" "chevron-top" -}}</i>
          </a>
        </li>
        <li>
          <a class="icon" href="#">
            <i class="" aria-hidden="true" onmouseover="$('#i-share').toggle();" onmouseout="$('#i-share').toggle();" onclick="$('#share').toggle();return false;">{{- partial "inline-svg" "share-fill" -}}</i>
          </a>
        </li>
      </ul>
      <span id="i-prev" class="info" style="display:none;">Previous post</span>
      <span id="i-next" class="info" style="display:none;">Next post</span>
      <span id="i-top" class="info" style="display:none;">Back to top</span>
      <span id="i-share" class="info" style="display:none;">Share post</span>
    </span>
    <br/>
    <div id="share" style="display: none">
      {{ .Scratch.Set "icon_class_name" ""}}
      {{ partial "share.html" . }}
    </div>
    <div id="toc">
      {{ .TableOfContents }}
    </div>
  </span>
</div>
