<article class="card page-list">
    <ul class="section-ul">
        {{- range . -}}
        <li class="section-li">
                <h3><a href="{{ .Permalink }}">{{- .Title -}}</a></h3>
                <p class="meta">
                    {{ .ReadingTime }} minute read. Last updated {{if ne .Date .Lastmod}}{{ .Lastmod.Format "January 2, 2006" }}{{else}}Unknown{{end}}
                </p>
                <p class="summery">{{- .Summary -}}{{if .Truncated}}...{{end}}</p>
        </li>
        {{- end -}}
    </ul>
</article>      
