{{ define "main" }}

<div class="container-fluid">
  <div class="row">

    <div class="col-4">
      <div class="content">

      {{ $pages := .Paginate ( where (where (where .Site.RegularPages "Type" "in" "page" ) ".Params.subtitle" "!=" "placeholder" ) ".Params.subtitle" "!=" "definition") }}
      {{ $projects := where .Site.RegularPages "Section" "projects" }}

          <section class="card">
              <h3> Latest Notes
              <a href="/page" class="btn" role="button">View all</a>
            </h3>
              <div class="posts">
                  {{ range  $pages.Pages  }}
                  <div class="post">
                      <a href="{{ .RelPermalink }}">
                          <div class="post-row">
                            <h4 class="capitalize"></h4>  
                                <time>{{ .Date.Format "Jan 02" }}</time>
                                  {{ .Title }} {{ if isset .Params "subtitle" }}<
                                      span class="subtitle">{{ .Page.Params.subtitle }}</span>{{ end }}
                            </h4>
                          </div>
                          <!--<div class="new-post">New!</div>-->
                      </a>
                  </div>
                  {{ end }}
              </div>
          </section>
          {{ if gt (len $projects) 0}}
          <section>
              <h2>Projects</h2>
              <div class="projects">
                  {{ range $projects.ByWeight }}
                  <div class="project">
                      <div>
                          <a href="{{ .Params.link }}" target="_blank" rel="noreferrer">
                              <div class="icon">{{ .Params.icon }}</div>
                              <h3>{{ .Title }}@!@!</h3>
                          </a>
                          <div class="description">{{ .Params.description }}</div>
                      </div>
                      <div class="flex">
                          <a href="{{ .Params.repo }}" class="button" target="_blank" rel="noreferrer">Source</a>
                      </div>
                  </div>
                  {{ end }}
              </div>
          </section>
          {{ end }}      
    </div>
  </div>

    <div class="col-8">
      <div class="content">
        <article>               
            {{if .Title}}<h2 class="content-title">{{ .Title }}</h2>{{end}}
            <!-- {{partial "textprocessing.html" . }} -->
            {{ .Content }}
        </article>
      </div>
    </div>

  </div>
</div>




{{ end }}

