@import "base/normalize";
@import "base/reset";
@import "base/variables";
@import "base/grid";
@import "base/scaffolding";
@import "base/headings";
@import "base/links";


@import "components/navbar";
@import "components/bio";
@import "components/posts";
@import "components/post_tag";
@import "components/footer";
@import "components/helpers";
@import "components/table";
@import "components/tags";
@import "components/search";

@import "components/post";
@import "components/comments";
@import "components/highlight";
@import "components/footnotes";
@import "components/suggested";
@import "components/projects";
@import "components/terms";
@import "components/pagination";

@import "base/dark";

a.brand img {
    border-radius: 15px;
}

.draft {
    /* Orange stripes? Hell yeah, orange stripes! */
    background: repeating-linear-gradient(
      135deg, #fffdf7, #fffdf7 10px, #ffd4a3 12px, #ffd4a3 12px);
  }
//  .dark.draft {
//     /* Orange stripes? Hell yeah, orange stripes! */
//     background: repeating-linear-gradient(
//       135deg, #1f2022, #1f2022 10px, #ffd4a3 12px, #ffd4a3 12px);
//   }

.left {
    float: left;
}