
// Pull out pictures
.content figure.left {
    float: left;
    margin-right: 1.5em;
    max-width: 50%;
}

@media (min-width: 1300px)
figure.left {
    margin-left: -240px;
}
.content figure {
    max-width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
}
user agent stylesheet
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}